body {
    font-size: 2.65vw;
}


/* Background */
#bg {
    height: 400vh;
}

/* Sitemap */
#sitemap {
    display: none;
}

/* Main container */
#main-container>div {
    flex-direction: column;
}

/* Main container */
#main-container {
    width: 100%;
}

#title-jp1 {
    height: 100vh;
}

/* Game container */
.game-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#title-jp1 .game-container {
    min-height: auto;
}

.arrow-down {
    display: none;
}

.arrow-up-smallscreen {
    top: 1%;
}

.empty {
    display: none;
}

.game {
    width: 100%;
    display: flex;
    align-items: stretch;
    background-color: rgba(0,0,0,0.6);
    padding: 1vw;
}

#main-container>div>.game-container:nth-child(odd) .game, #title-jp1 .game {
    flex-direction: row-reverse;
}

.game>img {
    display: none;
}

.game>div {
    flex-basis: 0;
}

/* Cover */
.cover {
    position: relative;
    flex-grow: 4;
}

.cover>img {
    display: block
}

.title, .notoutyet {
    font-size: 1.7em;
}

.name>div:last-child {
    white-space: normal;
}

/* Details */
.details {
    flex-grow: 6;
    border-width: 0 !important;
    font-size: 1.2em;
}
