@font-face {
    font-family: yarr;
    src: url('fonts/Bucanera-FFP.eot');
    src: url('fonts/Bucanera-FFP.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bucanera-FFP.woff2') format('woff2'),
        url('fonts/Bucanera-FFP.woff') format('woff'),
        url('fonts/Bucanera-FFP.svg#Bucanera-FFP') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: pieces_of_eight;
    src: url('fonts/Pieces of Eight.ttf');
}

* {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: pieces_of_eight;
    line-height: 1;
    margin: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.button {
    cursor: pointer;
}

/* Layout */
.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.grow {
    flex-grow: 1;
}

/* Parallax */
.parallax {
    -webkit-perspective: 1px;
    perspective: 1px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.parallax-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.parallax-layer-front {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax-layer-back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

/* Background */
#bg {
    height: 300vh;
    left: -8px;
    overflow: hidden;
}

#bg>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Title */
#title {
    width: 100%;;
    background-color: rgba(0,0,0,0.6);
    color: #f1e6b7;
    text-shadow: 0 0 3px black;
    padding: 0.33em 0;
    flex-wrap: wrap;
}

#title>div {
    width: 33%;
}

.yarr {
    font-family: yarr;
    font-weight: normal;
    letter-spacing: 0.208vw;
}

.yarr:first-child {
    padding-left: 0.67em;
}

.yarr:last-child {
    padding-right: 0.67em;
}

#title .button {
    padding: 0.33em 0.33em 0;
}

#title .button:not(.active) {
    color: #666666;
}

#title .button:not(.active):hover {
    color: #aaaaaa;
}

.big {
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: -0.052vw;
    text-align: center;
}

.big>img {
    height: 0.9em;
}

.big>img:first-child {
    margin-right: 0.2em;
}

.big>img:last-child {
    margin-left: 0.2em;
}

#title span {
    font-size: 0.5em;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

/* Game container */
.game>div, .game>img {
    border: 0.67vmin solid transparent;
}

.arrow-down, .arrow-down-smallscreen, .arrow-up-smallscreen {
    cursor: pointer;
    position: absolute;
    color: #daa520;
    font-weight: bold;
    font-size: 2.67em;
    text-shadow: 0 0 8px black;
}

.arrow-down, .arrow-down-smallscreen {
    bottom: 1%;
}

/* Cover */
.cover {
    box-shadow: 0 0 10px black;
    border-color: #4d0207 !important;
    overflow: hidden;
}

.notoutyet {
    position: absolute;
    background-color: #751b21;
    color: wheat;
    width: 161.6%;
    text-align: center;
    left: -20%;
    bottom: 14.5%;
    opacity: 0.9;
    -ms-transform: translateY(-50%) rotate(-30deg); /* IE 9 */
    -webkit-transform: translateY(-50%) rotate(-30deg); /* Safari */
    transform: translateY(-50%) rotate(-30deg);
    -ms-transform-origin: left center; /* IE 9 */
    -webkit-transform-origin: left center; /* Safari 3-8 */
    transform-origin: left center;
    padding: 0.1em 0;
}

.cover>img {
    width: 100%;
}

.title {
    position: absolute;
    color: goldenrod;
    text-shadow: 0 0 3px black;
    width: 100%;
    height: 100%;
    top: 0;
}

.name {
    height: 100%;
}

.name>div {
    text-align: center;
    padding: 0.2em;
    line-height: 0.9;
    background: rgba(0,0,0,0.5);
    background: linear-gradient(to right,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.3));
}

/* Details */
.details {
    color: #f1e6b7;
}

.description {
    overflow: hidden;
    position: relative;
    padding: 0.2em;
}

.description i {
    font-size: 0.8em;
}

.description .br {
    height: 1em;
}

.launch-dl {
    overflow: hidden;
}

.launch-dl::before {
    content: "";
    width: 90%;
    border-top: 1px solid goldenrod;
}

.launch-dl i {
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.3em;
    padding: 0.33em 0;
}

.launch-dl a {
    width: 100%;
    text-align: center;
    color: goldenrod;
    padding: 0.33em 0;
}
