@font-face {
    font-family: yarr;
    src: url('fonts/Bucanera-FFP.eot');
    src: url('fonts/Bucanera-FFP.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bucanera-FFP.woff2') format('woff2'),
        url('fonts/Bucanera-FFP.woff') format('woff'),
        url('fonts/Bucanera-FFP.svg#Bucanera-FFP') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: pieces_of_eight;
    src: url('fonts/Pieces of Eight.ttf');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

body {
    font-family: pieces_of_eight;
    font-size: 30pt;
    line-height: 1;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.grow, .game-containers {
    flex-grow: 1;
}

#main-container {
    height: 100%;
    width: 100%;
    background-image: url('img/background.jpeg');
    background-size: cover;
    overflow-y: auto;
}

/* Title */
#title {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    color: #f1e6b7;
    text-shadow: 0 0 3px black;
    align-items: baseline;
    border-bottom: 3px solid black;
}

#title>div {
    text-align: center;
}

.big {
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: -1px;
}

.big>img {
    height: 0.9em;
}

.big>img:first-child {
    margin-right: 0.2em;
}

.big>img:last-child {
    margin-left: 0.2em;
}

.yarr {
    font-family: yarr;
    font-weight: normal;
    letter-spacing: 4px;
    position: absolute;
    left: 1%;
    bottom: 0;
}

#title span {
    font-size: 0.5em;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

/* Layout and animation */
.game-containers {
    overflow-y: auto;

}

.game-containers>div {
    width: 512px;
    flex-shrink: 0;
    /* height: 100%;; */
}

.game-container {
    /* display: flex; */
    position: relative;
}

.stroke-h, .stroke-v, .stroke-h-left, .stroke-h-right {
    position: relative;
}

.stroke-h::before, .stroke-v::before, .stroke-h-left::before, .stroke-h-right::before {
    content: "";
    border-color: #daa520;
    border-style: dotted;
    border-width: 0;
    position: absolute;
}

.stroke-h::before, .stroke-h-left::before, .stroke-h-right::before {
    border-top-width: 8px;
}

.stroke-h::before {
    width: 98%;
}

.stroke-h-left::before, .stroke-h-right::before {
    width: 49%;
}

.stroke-h-left::before {
    left: 1%;
}

.stroke-h-right::before {
    right: 1%;
}

.stroke-v::before {
    border-left-width: 8px;
    height: 48%;
    left: 0;
}

.game {
    position: relative;
    width: 50%;
    cursor: pointer;
}

.game.empty {
    border-color: transparent;
    box-shadow: none;
}

.game>div {
    position: absolute;
}

.game>img {
    display: block;
    width: 100%;
}

.cover {
    width: 100%;
    height: 100%;
    top: 0;
}

.cover>img {
    width: 100%;
}

.title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 0.8em;
    color: goldenrod;
    text-shadow: 0 0 3px black;
}

.name {
    height: 100%;
}

.name>div {
    text-align: center;
    padding: 0.2em;
    line-height: 0.9;
    background: rgba(0,0,0,0.5);
    background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.6), rgba(0,0,0,0.6), rgba(0,0,0,0.3));
}

.details {
    font-size: 0.8em;
    background-image: url('img/label.jpg');
    background-size: 100% 100%;
    width: 196%;
    height: calc(100% + 12px);
    left: -48%;
    top: -6px;
    opacity: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 0.1em;
}

.game, .details {
    border: 6px solid #4d0207;
    box-shadow: 0 0 10px black;
}

.game:hover .details {
    opacity: 1;
}

.description {
    overflow: hidden;
    position: relative;
}

.description i {
    font-size: 0.8em;
}

.description .br {
    height: 1em;
}

.launch-dl a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: darkred;
    padding: 0.33em 0;
    font-size: 0.9em;
}

.launch-dl a:hover {
    text-shadow: 0 0 20px black;
}

.launch-dl .launch::before {
    content: 'Jouer sur navigateur';
}

.launch-dl .dl::before {
    content: 'Télécharger le jeu';
}
