@font-face {
    font-family: yarr;
    src: url('fonts/Bucanera-FFP.eot');
    src: url('fonts/Bucanera-FFP.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bucanera-FFP.woff2') format('woff2'),
        url('fonts/Bucanera-FFP.woff') format('woff'),
        url('fonts/Bucanera-FFP.svg#Bucanera-FFP') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: pieces_of_eight;
    src: url('fonts/Pieces of Eight.ttf');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: pieces_of_eight;
    font-size: 30pt;
    line-height: 1;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

#main-container {
    height: 100%;
    width: 100%;
    background-image: url('img/background.jpeg');
    background-size: cover;
}

/* Title */
#title {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    font-family: yarr;
    color: #f1e6b7;
    text-shadow: 0 0 3px black;
    font-weight: normal;
    font-size: 2.1em;
    letter-spacing: 4px;
    padding: 0.25em 1.67em 0;
    align-items: baseline;
}

#title span {
    font-size: 0.5em;
    text-transform: uppercase;
}

/* Layout and animation */
.game-containers {
    width: 98%;
    flex-wrap: wrap;
    align-content: center;
}

.game-container {
    width: 33.33%;
}

.book-container, .book-container::before, .book-container .game {
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.book-container {
    position: relative;
    width: 50%;
    perspective: 1000px;
}

.book-container:hover {
    margin-left: 50%;
}

.book-container::before {
    /* needed to avoid glitch */
    content: '';
}

.book-container:hover::before {
    left: -100%;
}

.book-container>img {
    width: 100%;
}

.book-container::before, .launch-dl, .game, .description, .title, .name, .title::after {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.book-container:hover .game {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.launch-dl {
    background-image: url('img/book_right.png');
    background-size: 100% 100%;
    padding: 4% 12% 4% 10%;
}

.description {
    background-image: url('img/book_left.png');
    background-size: 100% 100%;
    padding: 4% 10% 4% 12%;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.game, .title {
    z-index: 2;
}

.game, .description, .title {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* details */
.launch-dl a {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: darkred;
}

.launch-dl a:hover {
    text-shadow: 0 0 20px black;
}

.launch-dl .launch::before {
    content: 'Jouer sur navigateur';
}

.launch-dl .dl::before {
    content: 'Télécharger le jeu';
}

.description {
    font-size: 0.8em;
    overflow: hidden;
}

.description i {
    font-size: 0.8em;
}

.description .br {
    height: 1em;
}

.title {
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.title::after {
    content: '';
    background-image: url('img/book_border.png');
    background-size: 100% 100%;
}

.title>img {
    height: 100%;
    width: 100%;
}

.name {
    color: goldenrod;
    text-shadow: 0 0 3px black;
}

.title .name div {
    text-align: center;
    padding: 0.3em;
    background: rgba(0,0,0,0.5);
    background: linear-gradient(to right,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.3));
}
