body {
    margin: 0;
    font-family: Arial;
    background-color: black;
    font-size: 18pt;
}

p  {
    margin: 0;
}

a {
    text-decoration: none;
}

#scene, #char_img {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

#scene>img, #char_img>img {
    width: 100%;
}

#passage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: none;
    line-height: 110%;
    color: white;
}

#passage::before {
    content: '';
    display: block;
    flex-grow: 1;
}

#footer {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.8);
}

#dialog {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 0.2em;
}

#char_name {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.2em;
}

#buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.67em 1em;

}

#buttons a {
    display: inline-block;
    color: #b99d83;
    background-color: #59452d;
    padding: 0.1em 1em;
    border: 6px solid rgba(121, 99, 53, 0.8);
}

#buttons a:hover {
    color: #b99d83;
    background-color: #916b41;
}
