body {
    margin: 0;
    font-family: Arial;
    background-color: black;
    font-size: 18pt;
    overflow: hidden;
}

p  {
    margin: 0;
}

a {
    text-decoration: none;
    border: none;
}

#passage {
    color: white;
    text-shadow: 0 0 5px black;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#scene, #char_img, #container {
    height: 100vh;
    width: calc(100vh * 1920 / 1080);
}

@media (max-aspect-ratio: 1920/1080) {
    body {
        flex-direction: column;
    }

    #scene, #char_img, #container {
        width: 100vw;
        height: calc(100vw * 1080 / 1920);
    }
}

#scene, #char_img {
    position: absolute;
    z-index: -1;
}

#scene>img, #char_img>img {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column-reverse;
    line-height: 110%;
    color: white;
}

#footer {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    height: 21%;
    background-color: rgba(0, 0, 0, 0.8);
}

#dialog {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 0.2em;
}

#char_name {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.2em;
}

#choices {
    display: flex;
    flex-direction: column;
}

/*
#buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.67em 1em;

}

#buttons a {
    display: inline-block;
    color: #b99d83;
    background-color: #59452d;
    padding: 0.1em 1em;
    border: 6px solid rgba(121, 99, 53, 0.8);
}

#buttons a:hover {
    cursor: pointer;
    color: #b99d83;
    background-color: #916b41;
}
*/
